body {
  margin: 0;
}

#banner {
  height: 150px;
  background: #333333 url("./images/banner.png");
  background-size: 100% 100%;
}

#navbar {
  background-color: #333333;
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

#navbar a:hover {
  background-color: #fff;
  color: #333333;
}

#navbar a.active {
  background-color: #f2a822;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flashcard {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 2px #333333 solid;
  color: #333;
  width: 40%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

.flashcard:hover {
  background-color: #f0f0f0;
}

.flashcardForm {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;

  border: 2px #333333 solid;
  padding: 10px;
  margin-top: 10px;
}

.flashcardForm h3 {
  color: #333;
}

.flashcardForm input,
select,
button {
  margin: 5px 0px 5px 0px;
}

.flashcardForm button,
span {
  width: 40%;
  margin: 0 auto;
}

.flashcardForm select {
  width: 65%;
}
